@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  header{
   
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    position:fixed;
    z-index: 999999;
    background-color: rgba(248, 247, 247, 0.4);
    border-bottom: 1px lightgray solid;
  }
  
  header .brand{

    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  header .navigation{
    position: relative;
  }
  
  header .navigation .navigation-items a{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: rgb(0, 0, 0);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:hover:before{
    width: 100%;
  }
  
  .about .contenu {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .about .contenu img {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit:cover;
    z-index: -1;
  }
  .about .contenu .caption{
    position: absolute;
    top: 50%;
    left: 71%;
    transform: translate(-50%,-50%);
    color: aliceblue;
    margin-bottom: 65px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .cartes{
    display: flex;
  }
  .caption{
    margin-right: 90px;
  }
  .caption h1{
    font-size: 50px;
  }
  .caption p{
    font-size: 20px;
  }